# Django
*.pot
*.pyc
__pycache__
local_settings.py
db.sqlite3
media

# Environment variables
.env

# Backup files
*.bak
*.swp
*.tmp

# If you are using PyCharm
.idea/

# Node.js
/node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# Vue
/frontend/public/manifest.json
/frontend/node_modules/
/frontend/dist/

# Python virtual environments
/.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
logs/
*.pid
*.seed
*.cover
*.coverage
*.cov