{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Statewide Plan for Community Well-Being{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    {% include 'includes/font_links.html' %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <body>

    <!-- Sidebar -->
    <div class="sidebar">
      <img src="{% static 'images/bringupnebraska_logo.png' %}" alt="Bring Up Nebraska Logo" class="mx-auto d-block img-fluid mb-3" width="200">
      <h2 class="text-center" style="padding-bottom: 20px">Statewide Plan for Community<br />Well-Being</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="https://bringupnebraska.org/"><i class="bi bi-house-door-fill" style="padding-right: 5px"></i> Bring Up Nebraska</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://bringupnebraska.org/who-we-are/collaboratives/community-collaboratives.html"><i class="bi bi-geo-fill" style="padding-right: 5px"></i> Find Your Community Collaborative</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-file-earmark-text-fill" style="padding-right: 5px"></i> About the Plan</a>
        </li>
      </ul>
        <ul class="nav flex-column mt-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">
              <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
          </li>
        {% endif %}
        </ul>
    </div>

    <!-- Page Content -->
    <div class="main-content">
      {% block content %}
      <!-- Your page content goes here -->
      {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>
</html>
